.profile__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.64rem;
}

@media screen and (min-width: 648px) {
  .profile__info {
    flex-direction: row;
    gap: 1rem;
  }
}
