.card__trash-button {
  position: absolute;
  top: 10px;
  right: 10px;
  heigth: 1.18rem;
  width: 1.18rem;
  transition: all 150ms ease-in;
  cursor: pointer;
  z-index: 20;
}

.card__trash-button:hover {
  opacity: 0.6;
}
