.profile__subtitle {
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: center;
  display: none;
}

@media screen and (min-width: 648px) {
  .profile__subtitle {
    text-align: start;
    display: flex;
  }
}
