.modal-edit__close-form {
  position: absolute;
  top: -3rem;
  right: 0rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in;
}

.modal-edit__close-form:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .modal-edit__close-form {
    top: -2.5rem;
    right: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }
}
