.profile__avatar {
  position: relative;
  display: flex;
  items-align: center;
  border-radius: 50%;
  width: 10.5rem;
  height: 10.5rem;
  margin: auto;
}

@media screen and (min-width: 648px) {
  .profile__avatar {
    margin: 0;
  }
}
