.skeletonLoading {
  position: absolute;
  margin-left: 1rem;
  width: 90%;
  height: 100%;
  background-color: #000;
}

.skeleton-title {
  width: 35%;
  height: 2rem;
  background: #ccc;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-subTitle {
  width: 15%;
  height: 1rem;
  background: #ccc;
  border-radius: 0.25rem;
  animation: skeleton-loading 1s linear infinite alternate;
}


@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 30%);
  }
  100% {
    background-color: hsl(200, 20%, 10%);
  }
}

@media screen and (max-width: 648px) {
  .skeleton-title {
    margin: 0.5rem auto;
  }
  .skeleton-subTitle {
    margin: 0.5rem auto;
  }
}
