.modal-edit__form {
  position: fixed;
  top: 13rem;
  background-color: #fff;
  color: #000;
  width: 12rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  items-align: center;
  border-radius: 0.6rem;
  padding: 2rem;
}

@media screen and (min-width: 648px) {
  .modal-edit__form {
    width: 23.8rem;
  }
}

